@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.NavigationBar-actionMenu-button {
  display: flex;
  align-items: center;
  color: grey;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.NavigationBar-actionMenu-button:hover {
  color:  #90a7d1;
}
  
.nav-color {
  color: grey;
}
  
.icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
  
.icon-member {
  fill: currentColor;
}

